html, body {
  background-color:#404040;
  height: 100%;
  width: 100%;
}

@keyframes example {
  0% {color: red;}
  25% {color: yellow;}
  50% {color: orange;}
  75% {color: yellowgreen;}
  100% {color: red;}
}
@keyframes animate {
  from {}
  to {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, .19);
  }
}

h1{
  text-shadow: 2px 2px 5px;
  color:red;
  text-align: center;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count:20;
}
img.snake{
  width:20%;
  height:55%;
  position:absolute;
  float:left;
  display:block; 
  cursor: pointer; 
transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
img.gun{
  width:40%;
  height:40%;
  display:inline;
  margin-left:32%;
  margin-right:auto;
   cursor: pointer; 
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
img.water{
  width:20%;
  height:50%;
  display: inline;
  float:right;
  cursor: pointer; 
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
p{
  margin-top:200px;
  margin-left:600px;
  font-size: 20px;
}
.snake:hover{
   filter: brightness(100%);
  transform: scale(1.1);
}
.gun:hover{
   filter: brightness(100%);
  transform: scale(1.1);
}
.water:hover{
   filter: brightness(100%);
  transform: scale(1.1);
}
@media screen and (max-width:1000px){
  margin:auto 10px;
}
